body{
    background-image: url("/assets/images/52-simple-backgrounds-presentation-background-free-download-throughout-background-for-presentation-2-768x432.jpg");
}


.btn{
    height: 100px;
    width: 100px;
    background-color: white;
}



